{% extends 'base.html' %}


{% block title %}Experience/Education{% endblock title %}




{% block content %}
<section class="exp-section center-column">


    <h2 class="exp-h2">Experience/Education</h2>
<div class="exp-list center-row">
    <div class="exp-card center-row" >
        <h2 class="exp-h2">Name of the School</h2>
        
        <p>Course Name / Project Name</p>
        <p>Short description here about the course</p>
        <p>Month-YYYY - Month-YYYY</p>
        <div class="exp-container center-row">
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
        </div>
    </div>

    <div class="exp-card center-row" >
        <h2 class="exp-h2">Name of the School</h2>
        
        <p>Course Name / Project Name</p>
        <p>Short description here about the course</p>
        <p>Month-YYYY - Month-YYYY</p>
        <div class="exp-container center-row">
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
        </div>
    </div>
    <div class="exp-card center-row" >
        <h2 class="exp-h2">Name of the School</h2>
        
        <p>Course Name / Project Name</p>
        <p>Short description here about the course</p>
        <p>Month-YYYY - Month-YYYY</p>
        <div class="exp-container center-row">
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
            <label class="label-text">skill</label>
        </div>
    </div>

</div>
</section>









{% endblock content %}