{% extends 'base.html' %}


{% block title %}Projects{% endblock title %}
{% load static %}

{% block content %}
<section class="project-section center-column">

    {% if user.is_authenticated %}
    <div class="add-project-container">
        <a href="{% url 'project_new' %}">
            <button class="primary-button">Add Project</button>
        </a>
    </div>
    {% endif %}

        <h2>Projects</h2>

        
        

    <div class="project-list center-row">
        <!-- All the project cards-->
        {% for project in projects %}

        <div class="project-card center-row">
            <a href="{{ project.repository }}" target="_blank">
            <img src="{{ project.image }}">

                <p>{{ project.name }}</p>
                <p>{{ project.description }}.</p>
                    <P>{{ project.year }}</P>
            <div class="skill-container center-row">
                {% for skill in project.skill.all %}
            <label class="label-text">{{ skill.name }}</label>  
            {% endfor %}
            
            </div>
            </a>       

        </div>
        {% endfor %}
    </div>

</section>





{% endblock content %}