{% extends 'base.html' %}


{% block title %}Projects{% endblock title %}
{% load static %}

{% block content %}
    <section class="project-section center-column">
    <h2>Projects</h2>

    <div class="project-list center-row">
        <!-- All the project cards-->
        
        
        <div class="project-card center-row">
            <a href="https://www.github.com/" target="_blank">
            <img src="{% static 'img/picture-1.jpg' %}" alt="">

            <p>Blog</p>
            <p>Created a blog website so that people can make comments. Other people can see their post in blog and comment.</p>
            <P>2023</P>
                <div class="skill-container center-row">
                    <label class="label-text" >Skill 1</label>  
                    <label class="label-text" >Tech 1</label>   
                    <label class="label-text" >Skill 2</label>  
                    <label class="label-text" >Tech 2</label> 
                </div>
            </a>       

        </div>
        <div class="project-card">
            <a href="https://www.github.com/" target="_blank">
            <img src="{% static 'img/picture-2.jpg' %}" alt="">

            <p>Real Estate</p>
            <p>Created a blog website so that people can make comments. Other people can see their post in blog and comment.</p>
            <P>2023</P>
                <div class="skill-container center-row">
                    <label class="label-text" >Skill 1</label>  
                    <label class="label-text" >Tech 1</label>   
                    <label class="label-text" >Skill 2</label>  
                    <label class="label-text" >Tech 2</label> 
                    
                </div>
            </a>       

        </div>
        <div class="project-card center-row">
            <a href="https://www.github.com/" target="_blank">
            <img src="{% static 'img/picture-3.jpg'%}" alt="">

            <p>Issue Manager</p>
            <p>Created a blog website so that people can make comments. Other people can see their post in blog and comment.</p>
            <P>2023</P>
                <div class="skill-container center-row">
                    <label class="label-text" >Skill 1</label>  
                    <label class="label-text" >Tech 1</label>   
                    <label class="label-text" >Skill 2</label>  
                    <label class="label-text" >Tech 2</label> 
                    
                </div>
            </a>       

        </div>


    </div>


    </section>
    




{% endblock content %}